# Python bytecode & cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite Database local files (taake deployment clean rahe)
*.db
*.sqlite3

# Virtual environments
venv/
ENV/
env/

# OS specific files
.DS_Store
Thumbs.db

